In [13]:
import pandas as pd
df = pd.read_csv("day.csv")
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [14]:
import pandas as pd
df1 = pd.read_csv("hour.csv")
df1

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [4]:
import pandas as pd
df = pd.read_csv("day.csv")
print(pd.isna(df))

     instant  dteday  season     yr   mnth  holiday  weekday  workingday  \
0      False   False   False  False  False    False    False       False
1      False   False   False  False  False    False    False       False
2      False   False   False  False  False    False    False       False
3      False   False   False  False  False    False    False       False
4      False   False   False  False  False    False    False       False
..       ...     ...     ...    ...    ...      ...      ...         ...
726    False   False   False  False  False    False    False       False
727    False   False   False  False  False    False    False       False
728    False   False   False  False  False    False    False       False
729    False   False   False  False  False    False    False       False
730    False   False   False  False  False    False    False       False

     weathersit   temp  atemp    hum  windspeed  casual  registered    cnt
0         False  False  False  False      False   False       False  False
1         False  False  False  False      False   False       False  False
2         False  False  False  False      False   False       False  False
3         False  False  False  False      False   False       False  False
4         False  False  False  False      False   False       False  False
..          ...    ...    ...    ...        ...     ...         ...    ...
726       False  False  False  False      False   False       False  False
727       False  False  False  False      False   False       False  False
728       False  False  False  False      False   False       False  False
729       False  False  False  False      False   False       False  False
730       False  False  False  False      False   False       False  False

[731 rows x 16 columns]

In [3]:
df1 = pd.read_csv("hour.csv")
print(pd.isna(df1))

       instant  dteday  season     yr   mnth     hr  holiday  weekday  \
0        False   False   False  False  False  False    False    False
1        False   False   False  False  False  False    False    False
2        False   False   False  False  False  False    False    False
3        False   False   False  False  False  False    False    False
4        False   False   False  False  False  False    False    False
...        ...     ...     ...    ...    ...    ...      ...      ...
17374    False   False   False  False  False  False    False    False
17375    False   False   False  False  False  False    False    False
17376    False   False   False  False  False  False    False    False
17377    False   False   False  False  False  False    False    False
17378    False   False   False  False  False  False    False    False

       workingday  weathersit   temp  atemp    hum  windspeed  casual  \
0           False       False  False  False  False      False   False
1           False       False  False  False  False      False   False
2           False       False  False  False  False      False   False
3           False       False  False  False  False      False   False
4           False       False  False  False  False      False   False
...           ...         ...    ...    ...    ...        ...     ...
17374       False       False  False  False  False      False   False
17375       False       False  False  False  False      False   False
17376       False       False  False  False  False      False   False
17377       False       False  False  False  False      False   False
17378       False       False  False  False  False      False   False

       registered    cnt
0           False  False
1           False  False
2           False  False
3           False  False
4           False  False
...           ...    ...
17374       False  False
17375       False  False
17376       False  False
17377       False  False
17378       False  False

[17379 rows x 17 columns]

In [7]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [10]:
df1.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [9]:
df1.drop_duplicates(inplace=True)

In [10]:
df.drop_duplicates(inplace=True)

In [16]:
import pandas as pd
df = pd.read_csv("day.csv")
df1 = pd.read_csv("hour.csv")
merged = pd.concat([df, df1])

merged

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,hr
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985,NaN
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,NaN
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,NaN
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,NaN
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,0,1,1,2,0.260000,0.257600,0.600000,0.164200,11,108,119,19.0
17375,17376,2012-12-31,1,1,12,0,1,1,2,0.260000,0.257600,0.600000,0.164200,8,81,89,20.0
17376,17377,2012-12-31,1,1,12,0,1,1,1,0.260000,0.257600,0.600000,0.164200,7,83,90,21.0
17377,17378,2012-12-31,1,1,12,0,1,1,1,0.260000,0.272700,0.560000,0.134300,13,48,61,22.0
17378,17379,2012-12-31,1,1,12,0,1,1,1,0.260000,0.272700,0.650000,0.134300,12,37,49,23.0